* {
  padding: 0%;
  margin: 0%;
  font-family: "NewRodinProM";
}

.main>h1 {
  text-align: center;
  font-size: 6rem;
}

.main-wrapper {
  display: flex;
}

.spaces {
  flex-basis: 300px;
}

.space-wrapper {
  display: flex;
  flex-direction: column;
}

.space {
  border: 2px blue solid;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.space>li {
  display: inline;
}

.todo-wrapper {
  display: flex;
  flex-direction: row;
}

.todo-last {
  border: 2px red solid;
  display: flex;
}

.todo-last>.todo-remove {
  height: 2rem;
  font-size: 0.5rem;
}