* {
  padding: 0%;
  margin: 0%;
}

.todo-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.todo-last {
  background-color: blanchedalmond;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 15%;
}

.todo-data {
  background-color: antiquewhite;
  border: 2px solid rgb(230, 187, 132);
  border-radius: 5px;
}